<mat-grid-list cols="6" >
    <mat-grid-tile
    [colspan]="6"
    [rowspan]="2"
    >
      <mat-card class="work-card" *ngFor="let project of projects">
        <mat-card-header>
          <mat-card-title>{{project.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card-image" [src]="project.imageUrl"/>
        <span class="tech-list" *ngFor=" let tech of project.techUsed" >{{tech}} </span>
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
          <ul>
            <li *ngFor="let contribution of project.contributions">
              {{contribution}}
            </li>
          </ul>
      </mat-card-content>
      </mat-card>
  </mat-grid-tile>
  </mat-grid-list>