<mat-toolbar>
    <span class="title">{{title}}</span>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle color="primary" class="toggle-button" checked="true" routerLink="" routerLinkActive="active">Home</mat-button-toggle>
      <mat-button-toggle color="primary" class="toggle-button" routerLink="dev" routerLinkActive="active">Work</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-button class="connect-button" (click)="contactToggle($event)">
      Connect
    </button>
  </mat-toolbar>