.container {
    /* padding: 0rem 10%; */
    /* height: 100%; */
}

.page-container {
    /* width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5); */
    background-color: white;
    height: 100%;
  }

  .mat-drawer-side{
    border: none;
} 