.lp-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card {
    width: 50%;
}

.info-card {
   margin: 30px auto;
   text-align: center;
}

.info-card p { 
    font-size: 1.25rem;
}

.image-card {
    margin: 30px auto;
    text-align: center;
 }

.image-card h2 {
    font-weight: 600;
    text-align: center;
}

.image-card p { 
    font-size: 1.25rem;
}

a {
    text-decoration: none;
  }